<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/mystyle.css" rel="stylesheet">
        <title>搜索</title>
        
    </head>

    
    <body>
        <div>
            <div class="search-form">
                <form role="form" method="post">
                    <input id="username" type="text" class="search-input">
                    <button type="submit" class="search-btn">搜索</button>
                </form>
            </div>
        </div>
    </body>
</html>